@model SchoolReports.Models.Student

@{
    ViewBag.Title = "Leerling toevoegen";
}

<h2>Leerling toevoegen</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Student</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
        </div>

        <p>
            <input type="submit" value="Toevoegen" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Annuleren", "Index")
</div>
